doctype html
html
head
    title
body(style='font-family:Arial, Helvetica, sans-serif')
    header(style='text-align: center')
        img(src='http://www.nouse.co.uk/static/logos/nouse-logo-full.png', alt='Nouse logo')
    section(style='width: 70%; margin-left: auto; margin-right: auto; border: 1px solid #323232; border-radius: 8px 8px 8px 8px')
        p To complete signing up to your Nouse Account please enter the code below on screen
        p(style='text-align: center; font-size: 3em; font-weight: boldest')= code
        p Alternatively, if you're activating your account later then please click the link below or copy and paste it into your browser.
        a(class='link', href=root + '/signup/activate?id=' + userid + '&activate=' + codehash, target='_blank') #{root}/signup/activate?id=#{userid}&activate=#{codehash}
        p If you have any problems activating then please get in touch with support at 
            a(href='mailto:' + supportEmail, target='_blank')= supportEmail
        | .
    footer(style='text-align: center; font-size: 0.8em; font-color: #878787')
        p &copy; Nouse 2016 - Part of the student media at University of York